.banner-content{
    padding-top: 450px;
    padding-left: 3rem;
    width: 45rem;
    background: transparent;

}
.banner-content h1 {
    font-size: 1rem;
    background: transparent;
}
.banner-content h2{ 
    font-size: 1rem;
    padding-top: 1rem;
    background: transparent;

}
.more{
    color: white;
    background-color: black;
}
.more:hover{
    color: black;
    background-color: white;
}
.more:hover i{
    color: black;
    background-color: white;
}
